################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LoanAmortizationCalculator/FileContentIndex
.vs/LoanAmortizationCalculator/config/applicationhost.config
.vs/LoanAmortizationCalculator/DesignTimeBuild/.dtbcache.v2
.vs/LoanAmortizationCalculator/v17/.suo
.vs/LoanAmortizationCalculator/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
LoanAmortizationCalculator.API/bin/Debug/net7.0/EPPlus.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/EPPlus.Interfaces.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/EPPlus.System.Drawing.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.API.deps.json
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.API.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.API.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Application.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Application.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Domain.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Domain.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Infrastructure.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Infrastructure.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.Configuration.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.Configuration.FileExtensions.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Json.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Abstractions.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Physical.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.FileSystemGlobbing.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.IO.RecyclableMemoryStream.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/browser/lib/net7.0/System.Text.Encodings.Web.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Security.Cryptography.Pkcs.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Text.Encoding.CodePages.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Drawing.Common.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Formats.Asn1.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Security.Cryptography.Pkcs.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Text.Encoding.CodePages.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Text.Encodings.Web.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Text.Json.dll
*.dll
*.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.API.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.API.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Application.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Application.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Domain.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Domain.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Infrastructure.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/LoanAmortizationCalculator.Infrastructure.pdb
LoanAmortizationCalculator.API/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
LoanAmortizationCalculator.API/bin/Debug/net7.0/System.Drawing.Common.dll
